syntax: glob
CMakeFiles/*
Makefile
cmake_install.cmake
install_manifest.txt
CMakeCache.txt
s3d
s3d_display
s3d_compiler
s3d_import
s3d_export
s3d_io
s3d_test
_lua_tmp.lua
test/*.s3d
test/core
core
testout
*~
